# PlatformIO specific files
.pio/
.vscode/
*.elf
*.bin
*.hex
*.map
*.pyc
*.pyo
*.pyd
__pycache__/
*.sublime-workspace
*.sublime-project
*.DS_Store
*.swp
*.swo
*.idea/
*.iml
*.log
*.d
*.o
*.a
*.lib
*.exe
*.out
*.obj
*.tmp
*.bak
*.orig
*.patch
*.class
*.suo
*.user
*.userosscache
*.sln.docstates

# PlatformIO environment folders
.env/
.venv/
env/
venv/